body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(51, 49, 49);
}

#master{
    display: grid;
    justify-items: center;
    justify-content: center;
    color: white;
}

#screen{
    display: flex;
    align-items: center;
    justify-content: center;

}